<div class="text-center">
  <div>
    <h1>Библиотека</h1>
  </div>

  <% @books.each do |book| %>
    <div>
      <div>
        <%= link_to book.title, book_path(book) %>
        <%= book.description %>
        <%= book.year %>
        <%= book.author %>
      </div>
    </div>
  <% end %>
</div>
