<div class="text-center">
  <div class="m-1 p-1">
    <h1>Книги</h1>
  </div>

  <% @books.each do |book| %>
    <div class="row justify-content-center m-2 p-2">
      <div class="col-4">
        <p><%= image_tag book.image.thumb.url if book.image_url %></p>
      </div>
      <div class="col-4">
        <p><%= link_to book.title, book_path(book[:id]) %></p>
        <p>Автор <%= book.author %></p>
      </div>
    </div>
  <% end %>

  <div class="buffer-both">
    <%= link_to 'Добавить книгу', new_book_path, class: 'btn btn-success' %>
  </div>
</div>
